//颜色
$colors:(
	"primary": #db9e3f,
	"info": #4b67af,
	"blue": #4394e4,
	"blue-1": #1f3695,
	"danger": #791a15,
	"white": #fff,
	"white-1": #fcfcfc,
	"white-2": #eceef0,
	"light": #f9f9f9,
	"light-1": #d4d9de,
	"black": #000,
	"dark-1": #343440,
	"dark": #222,
	"grey": #999,
	"grey-1": #666,
);
$border-color: map-get($colors,'light-1' );

//字体
$base-font-sizes: 1rem;
$font-sizes: (
	xxs: 0.6145,	 //8px
	xs: 0.76923,    //10px
	sm: 0.923076,  //12px
	md: 1,        //13px
	lg: 1.0769,  //14px
	xl: 1.2308, //16px
);

$flex-jc: (
	start: flex-start,
	end: flex-end,
	center: center,
	between: space-between,
	around: space-around
);

$flex-ai: (
	start: flex-start,
	end: flex-end,
	center: center,
	strecth: strecth,
);

$spacing-types: (
	m:margin, 
	p:padding
);
$spacing-directions: (
	t: top, 
	r:right, 
	b:botton, 
	l:left
);
$spacing-base-size: 1rem;
$spacing-sizes: (
	0:0,
	1:0.25,
	2:0.5,
	3:1,
	4:1.5,
	5:3,
);